:root {
  --bleu: #18085c;
  --white: #ffffff;
  --gris: #efefef;
}

body {
  overflow: hidden;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a:hover {
  text-decoration: none;
}

.bg-bleu {
  background-color: var(--bleu) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-gris {
  background-color: var(--gris) !important;
}

.bg-mix {
  background: linear-gradient(180deg, var(--white) 50%, var(--gris) 0);
}

.btn-primary {
  background-color: var(--primary);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--primary);
}

#sidebar-container.active {
  margin-left: -250px;
}
#sidebar-container {
  min-height: 100vh;
  min-width: 250px;
  max-width: 250px;
  background: #18085c;
  color: #fff;
  transition: all 0.3s;
}

#sidebar-container .logo {
  padding: 0.875rem 1.1rem;
}

#sidebar-container .menu {
  width: 16rem;
}

#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  div.logo-title {
    display: none;
  }
  .stat {
    border: 0;
  }
}
@media (min-width: 768px) {
  div.sidebar-hidden {
    display: none;
  }
  .stat {
    border: 0;
  }
}
@media (max-width: 768px) {
  img.imagene {
    width: 50px;
    height: 50px;
  }
  #sidebar-container {
    margin-left: -250px;
  }

  #sidebar-container.active {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  img.imagen {
    width: 50px;
    height: 50px;
  }
}

.naverr {
  background: linear-gradient(to right, #18085c, #0098fd);
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #0098fd;
  padding-left: 8px;
}

/*Controles de formularios material desing ================*/
.group-material {
  position: relative;
  margin-bottom: 45px;
}
/*Contenedores de formularios ================*/
.container-flat-form {
  width: 75%;
  margin: 25px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  padding-bottom: 25px;
}
.title-flat-form {
  background-color: #e34724;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 50px;
}
.title-flat-green {
  background-color: #16a085;
}
.title-flat-blue {
  background-color: #0098fd;
}
/*Controles de formularios material desing ================*/
.group-material {
  position: relative;
  margin-bottom: 45px;
}
input.material-control,
select.material-control {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #0098fd;
}
select.material-control,
select.no-style {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url(../assets/icons/SelectMaterialIndicator.png) no-repeat
    scroll right 0.75rem center / 9px 13px;
}
select.material-control:hover,
select.no-style {
  cursor: pointer;
}
/*Estado activo*/
input.material-control:focus,
select.material-control {
  outline: none;
  border-bottom: 1px solid #5264ae;
}
/*Label de formularios material desing ================*/
.group-material label {
  color: #0098fd;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
/* Estado activo */
input.material-control:focus ~ label,
input.material-control:valid ~ label {
  top: -20px;
  font-size: 17px;
  font-weight: 700;
  color: #333;
  font-weight: normal;
}
input.material-control:valid ~ label:before {
  content: "✓   ";
}
input.material-control:focus:invalid ~ label,
input.material-control:invalid ~ label {
  top: -20px;
  font-size: 17px;
  color: #0098fd;
  font-weight: normal;
}
input.material-control:focus:invalid ~ label:after {
  content: "Formato no válido o campo vacío";
  margin: 0 5px;
  padding: 0 5px;
  font-size: 14px;
  color: #fff;
  background-color: #18085c;
  border-radius: 4px;
  font-weight: normal;
}
input.material-control:focus:invalid:required,
input.material-control:invalid:required {
  outline: none;
  box-shadow: none;
}
/*Barra de formularios material desing ================*/
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
input.material-control:focus ~ .bar:before,
input.material-control:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
